@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --size-minw: 375px;
  --size-maxh: 949px;
  --clr-primary: #333333;
  --clr-primary-light: #4F4F4F;
  --clr-secondary: #FFFFFF;
  --clr-secondary-dark: #BDBDBD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px 0px 24px 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0 auto;
  gap: 64px;
  max-width: 375px;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {  
  gap: 60px;
}

section {
  gap: 30px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 66px;
}

h1 {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 71.09px;
  letter-spacing: -0.035em;
  color: var(--clr-primary);
}

h2 {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26.66px;
  letter-spacing: -0.035em;
  color: var(--clr-primary-light);
}

footer {    
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.07px;
  color: var(--clr-secondary-dark);  
  text-align: center;
  margin: 0 20px 0 0;
}

.main-img {
  margin: 0 44px 0 20px;
}

img {
  width: 100%;
}

button {
  background-color: var(--clr-primary);
  padding: 24px 43px 23px 43px;
  border: none;
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20.73px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: var(--clr-secondary);
  align-self: flex-start;
}

header {
  font-family: "Inconsolata", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25.18px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: var(--clr-primary);
  inline-size: max-content;
}

@media screen and (min-width: 400px) {
  .container {
    max-width: 1440px;
    padding: 40px 79px 24px 77px;
    gap: 200px;
  }

  main {
    flex-direction: row !important;    
    align-items: unset !important;
    gap: 119px;
  }

  section {
    gap: 36px;
  }

  .main-content {
    gap: 64px;
    margin-right: 40px;
  }

  h1 {
    font-size: 64px;
    line-height: 94.78px;
    max-width: 15ch;
    inline-size: max-content;
  }
 
  h2 {
    font-size: 24px;
    line-height: 35.54px;
    max-width: 25ch;
    align-self: flex-start;
  }

  .main-img {
    margin: 0;
  }
}
